@page
@model _1967955_002_PWEB_Clase.Pages.ProductosView.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Productos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Productos.Articulo" class="control-label"></label>
                <input asp-for="Productos.Articulo" class="form-control" />
                <span asp-validation-for="Productos.Articulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productos.Descripcion" class="control-label"></label>
                <input asp-for="Productos.Descripcion" class="form-control" />
                <span asp-validation-for="Productos.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productos.Precio" class="control-label"></label>
                <input asp-for="Productos.Precio" class="form-control" />
                <span asp-validation-for="Productos.Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Productos.Imagen" class="control-label"></label>
                <input asp-for="Productos.Imagen" class="form-control" />
                <span asp-validation-for="Productos.Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
